@font-face {
    font-family: myFirstFont;
    src: url(OpenSans-Regular.ttf);
}
body{
	font-family: 'Open Sans', san-serif, arial;
	background: #eee;
}
.app-logo{
	position: absolute;
	top: 20px;
	left: 30px;
	background-image: url("../assets/logo.png");
	min-width: 135px;
	max-width: 135px;
	min-height: 20px;
	max-height: 20px;
	border: none;
	overflow: hidden;
}
.app-icon{
	position: absolute;
	background-image: url("../assets/icons.png");
	min-width: 20px;
	max-width: 20px;
	min-height: 20px;
	max-height: 20px;
	overflow: hidden;
}
.app-head, .app-top-menu, .app-side-menu, .app-body{
	position: absolute;
}
.app-head{
	top: 0px;
	left: 0px;
	max-width: 100%;
	min-width: 100%;
	max-height: 60px;
	min-height: 60px;
	background: #fff;
}
.head-text{
	position: relative;
	top: 0px;
	left: -60px;
	float: right;
}
.icon-settings{
	position: relative;
	top: 20px;
	left: -40px;
	float: right;
	background-position: 0px -204px;
}
.app-top-menu{
	top: 60px;
	left: 0px;
	max-width: 100%;
	min-width: 100%;
	max-height: 60px;
	min-height: 60px;
	background: #1574A4;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}
.app-top-menu span, .app-top-menu select{
	position: absolute;
	margin-left: 30px;
	margin-top: 20px;
	color: white;
	font-size: 15px;
}
.app-top-menu span{
	top: 0px;
	left: 0px;
	font-size: 20px;
}
.app-top-menu select{
	top: 0px;
	left: 310px;
	background: transparent;
	border: none;
	outline: none;
}
.app-top-menu select option{
	font-size: 15px;
	color: #1574A4;
	padding: 10px;
}
.icon-plus, .icon-search{
	margin-top: 20px;
	margin-right: 15px;
	position: relative;
	float: right;
}
.icon-plus{
	top: 0px;
	left: 0px;
	background-position: 0px -270px;
	margin-right: 30px;
}
.icon-search{
	top: 0px;
	left: 0px;
	background-position: 0px -317px;
}
.app-side-menu{
	padding: 30px;
	top: 120px;
	left: 0px;
	max-width: 310px;
	min-width: 310px;
	max-height: 100%;
	min-height: 100%;
	background: #fff;
}
.icon-alert,.icon-person,.icon-down-arrow,.icon-shield{
	position: relative;
	top: 0px;
	left: 0px;
	margin-left: 30px;
	margin-right: 15px;
}
.icon-alert{
	background-position: 0px 0px;
}
.icon-person{
	background-position: 0px -50px;
}
.icon-down-arrow{
	background-position: 0px -100px;
}
.icon-shield{
	background-position: 0px -150px;
}
.side-option div, .side-option span{
	display: inline-block;
}
.side-option{
	font-size: 14px;
	color: #666;
	max-height: 50px;
	min-height: 50px;
}
.side-option span:hover{
	color: #000;
	font-weight: bolder;
}
.app-body{
	top: 120px;
	left: 310px;
	background: transparent;
}