<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exer 5</title>
</head>
<body>
    <header></header>
    <article class="app">
        <section>
            <p>
                <b>
                    Write a JavaScript function to compute the value of b<sup>n</sup> where n is the exponent and b is the bases. Accept b and n from the user and display the result.
                </b><br /><br />
                <input type="text" v-model="nput1" /> b<br /><br />
                <input type="text" v-model="nput2" /> n
            </p>
        </section>
        <section><button v-on:mousedown="power()">Run</button></section>
        <section>
            <p>Output Here:</p>
            <div>
                {{ out }}
            </div>
        </section>
    </article>
    <script src="vue.js"></script>
    <script src="exer.js"></script>
</body>
</html>