/* icons styles */
.icon{
    background-image: url("../assets/images.png");
}
.icon-arrow-head{
    background-position: -187px -750px;
    max-width: 48px;
    min-width: 48px;
    max-height: 26px;
    min-height: 26px;
}
.icon-curly-arrow{
    background-position: 0px -631px;
    max-width: 433px;
    min-width: 433px;
    max-height: 145px;
    min-height: 145px;
}
.icon-head-image{
    background-position: 0px 0px;
    max-width: 767px;
    min-width: 767px;
    max-height: 220px;
    min-height: 220px;
}
.icon-app-icon{
    background-position: -170px -320px;
    max-width: 125px;
    min-width: 125px;
    max-height: 125px;
    min-height: 125px;
}

/* apps styles in the heading */
.app-head, .app-body{
    position: relative;
}
.app-body{
    max-width: 767px;
    min-width: 767px;
    max-height: 600px;
    min-height: 600px;
}
.app-head{
    max-width: 767px;
    min-width: 767px;
    max-height: 220px;
    min-height: 220px;
}
.app{
    position: relative;
    top: -8px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 767px;
    min-width: 767px;
    min-height: 100%;
}
.head-image, .head-icon{
    position: absolute;
}
.head-image{
    z-index: 1;
    top: 0px;
    left: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 2px 3px 4px 3px rgba(0, 0, 0, 0.2);
}
.head-icon{
    z-index: 2;
    top: 70px;
    left: 320px;
    opacity: 0.8;
}
.link{
    color: #A09E9C;
    font-size: 16px;
    margin: 20px;
}
.link-active{
    color: black;
}
.link:hover{
    color: black;
}
.browse{
    position: relative;
    top: 10px;
    left: 0px;
    z-index: 10;
    float: right;
}

/* app-body css design */
.inputs{
    text-align: center;
    margin-bottom: 40px;
}
.inputs label{
    color: #A09393;
}
.inputs select {
   text-align: center;
}
.inputs h2{
    color: #333333;
}
.inputs select, .inputs input[type="text"], .inputs input[type="number"]{
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;

    width: 240px;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    font-size: 24px;
    color: #333;
    padding: 0 5px;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    background: url(../assets/dropdown_img.png) 100% 100% no-repeat #eee;
    font-family: Avenir;
}
.input-box{
    padding: 20px;
    margin: 20px;
}
.bot-box1, .bot-box2{
    position: absolute;
}
.bot-box1{
    top: 200px;
    left: 450px;
}
.bot-box2{
    top: 200px;
    left: 0px;
}
#arrow1{
    position: relative;
    top: 0px;
    left: 100px;
    margin-bottom: 30px;
}

/* foot designs */
.foot-boxes{
    text-align: center;
    max-width: 240px;
    min-width: 240px;
    max-height: 70px;
    min-height: 70px;
}
.foot-boxes div{
    width: 240px;
    text-align: center;
    margin-top: 20px;
    background-color: #EEE;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}
label{
    color: #A09393;
}

.foot-total{
    text-align: center;
    max-width: 240px;
    min-width: 240px;
    max-height: 70px;
    min-height: 70px;
}
.foot-total div{
    width: 240px;
    height: 70px;
    margin: 0 auto;
    background-color: #EEE;
    font-size: 40px;
    color: #1CB637;
    font-weight: 700;
    line-height: 70px;
    -webkit-font-smoothing: antialiased;
    font-family: Avenir;
}
.grand-total{
    text-align: center;
}
.grand-total div{
    background-color: transparent;
    font-size: 100px;
    color: #1CB637;
    text-align: center;
    height: 80px;
    width: 100%;
    margin: 20px;
}
.footer{
    position: relative;
    margin: auto;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-align: justify;
    color: #939393;
}

/*.grands ,*/ .rents, .appres{
    position: absolute;
    top: 800px;
    left: 0px;
}
.grands/* , .rents,.appres*/ {
    visibility: hidden;
}

#arrow2{
    top: 800px;
    left: 140px;
}
#arrow3{
    top: 1130px;
    left: 140px;
}
#foot-box1{
    top: 850px;
    left: 40px;
}
#foot-box2{
    top: 930px;
    left: 40px;
}
#foot-box3{
    top: 1010px;
    left: 40px;
}
#foot-box4{
    top: 1200px;
    left: 40px;
}


#arrow3{
    top: 800px;
    left: 140px;
}
#arrow4{
    top: 1130px;
    left: 140px;
}
#foot-box5{
    top: 850px;
    left: 40px;
}
#foot-box6{
    top: 1200px;
    left: 500px;
}