@font-face {
    font-family: myFirstFont;
    src: url(proxima-nova.tff);
}
body{
    background: #3A4352;
    font-family: 'Proxima Nova';
}
.app-logo{
	position: relative;
	top: 138px;
	left: 0px;
	background-image: url("../assets/logo.png");
	background-size: 145px 40px;
	min-width: 145px;
	max-width: 145px;
	min-height: 40px;
	max-height: 40px;
}
.app-login{
	min-width: 200px;
	min-height: 420px;
	max-width: 200px;
	max-height: 420px;
}
.button{
	border: 2px solid #9dc65e;
	background: transparent;
	color: #9dc65e;
	font-size: 16px;
	min-width: 145px;
	min-height: 35px;
	max-width: 145px;
	max-height: 35px;
	border-radius: 3px;
}
.app-component{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 0px;
}
.app-sec-component{
	position: relative;
}

#email, #password, #email:active, #password:active{
	background: transparent;
	font-size: 15px;
	padding-top: 18px;
	padding-bottom: 18px;
	border: transparent;
	outline: none;
	color: #9da2a8;
}
#email::placeholder, #password::placeholder{
	color: #9da2a8;
	text-align: center;
	vertical-align: middle;
}
#email, #email:active{
	top: 228px;
	left: 0px;
	border-bottom: 2px solid #fff;
}
#password{
	top: 228px;
	left: 0px;
}
#login{
	top: 296px;
	left: 0px;
}